<Root>
  <Database>
    <ServerName>localhost\SQL2016</ServerName>
    <DatabaseName>ECUS5_CANG_PH</DatabaseName>
    <LoginName>sa</LoginName>
    <Password>wQBhHcEWo1rOSxc8j1t650Le6s9cILRw</Password>
  </Database>
  <UserCode>ADMIN</UserCode>
  <UserName>Quản trị hệ thống</UserName>
  <WarehouseCode>123456</WarehouseCode>
  <WarehouseCodeType>
  </WarehouseCodeType>
  <Warehouse>
    <WarehouseCode>123456</WarehouseCode>
  </Warehouse>
  <WebService>
    <Address>http://103.248.160.22/KDTService/Service.asmx</Address>
    <Proxy>
      <IsProxy>0</IsProxy>
      <Address>
      </Address>
      <Port>80</Port>
      <Username>
      </Username>
      <Password>D3QAp9gRlWA=</Password>
      <Domain>
      </Domain>
    </Proxy>
    <IsCert>0</IsCert>
  </WebService>
  <SignGate>
    <ShowInterfaceProgram>0</ShowInterfaceProgram>
    <Server>0</Server>
    <ShowPopup>0</ShowPopup>
    <Client>0</Client>
  </SignGate>
</Root>