/*
Script created by SQL Compare from Red Gate Software Ltd at 10/09/2017 2:25:34 PM
Run this script on PC01\SQL2008.ECUS5_CANG_PH to make it the same as PC01\SQL2008.ECUS5_CANG_DEV
Please back up your database before running this script
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping foreign keys from [dbo].[CONT_KB_CONTAINER_TT_CT]'
GO
ALTER TABLE [dbo].[CONT_KB_CONTAINER_TT_CT] DROP
CONSTRAINT [FK_CONT_KB_CONTAINER_TT_CT_CONT_KB_CONTAINER_CT],
CONSTRAINT [FK_CONT_KB_CONTAINER_TT_CT_CONT_KB_CONTAINER_TT]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[DLOGINFO]'
GO
ALTER TABLE [dbo].[DLOGINFO] ADD
[LOAI_CANG] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[SIMPORTS_EXCEL]'
GO
ALTER TABLE [dbo].[SIMPORTS_EXCEL] ADD
[STT] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
--Cập nhật phiên bản CSDL
UPDATE SYSAPP SET GIA_TRI = '19' WHERE DATA_FIELD = 'DBVERSION'
PRINT 'The database updated succeeded'
COMMIT TRANSACTION
--Chèn dữ liệu bảng SIMPORTS_EXCEL
DELETE FROM SIMPORTS_EXCEL WHERE TEN_BANG = 'CONT_217'
INSERT SIMPORTS_EXCEL(TEN_BANG,TEN_TRUONG,MO_TA,BAT_BUOC,KIEU_DU_LIEU,COT_EXCEL,DO_DAI,STT) VALUES(N'CONT_217',N'MO_TA_HANG',N'Mô tả hàng hóa','1',N'v',N'B','255','2')
INSERT SIMPORTS_EXCEL(TEN_BANG,TEN_TRUONG,MO_TA,BAT_BUOC,KIEU_DU_LIEU,COT_EXCEL,DO_DAI,STT) VALUES(N'CONT_217',N'SO_LUONG',N'Số lượng','1',N'n',N'C','0','3')
INSERT SIMPORTS_EXCEL(TEN_BANG,TEN_TRUONG,MO_TA,BAT_BUOC,KIEU_DU_LIEU,COT_EXCEL,DO_DAI,STT) VALUES(N'CONT_217',N'MA_DVT',N'Đơn vị tính','1',N'v',N'D','100','4')
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
